/* Styles for blog posts */
.blog-post {
    margin: 0 auto;
    max-width: 800px;
    font-family: 'Lora', 'Segoe UI', 'Tahoma', 'Arial', serif;
  }

  /* Apply RTL for Hebrew posts */
  .rtl {
    direction: rtl;
    text-align: right;
    font-family: 'M PLUS Rounded 1c', 'Segoe UI', 'Tahoma', 'Arial', sans-serif;
  }
  